p{
	text-align: center;
	color: #312102;
	font-family: sans-serif;
	font-size: 20px; 
}
body {
	background-color: #baac9c;
	background-image: url(http://www.freeppt.net/background/floor-wood-board-wallpapers-backgrounds-for-powerpoint.jpg); 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto
    }

a:hover{
		color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}